<hr class="border-1 border-gray-500 my-4" />
<h1 class="text-3xl font-bold underline">Invoice-app</h1>
<div class="flex items-center gap-x-4">
  <div class="p-6 mx-2 bg-white rounded-xl shadow-lg">
    <div class="max-w-sm">
      <img
        class="size-12"
        src="assets/img/chat-svgrepo-com.svg"
        alt="ChitChat Logo"
      />
    </div>
    <div>
      <div class="text-xl font-medium text-black">Nuevo mensaje</div>
      <p class="text-slate-500">Tiene un mensaje de Edual!</p>
    </div>
  </div>

  <div
    class="py-8 px-8 max-w-sm mx-4 space-y-4 bg-white rounded-xl shadow-lg sm:py-4 sm:flex sm:items-center sm:space-y-0 sm:gap-x-6"
  >
    <img
      class="block mx-auto h-24 rounded-full sm:mx-0 sm:shrink-0"
      src="https://v3.tailwindcss.com/img/erin-lindford.jpg"
      alt="Woman's Face"
    />
    <div class="text-center space-y-2 sm:text-left">
      <div class="space-y-0.5">
        <p class="text-lg text-black font-semibold">Erin Lindford</p>
        <p class="text-slate-500 font-medium">Product Engineer</p>
      </div>
      <button
        class="px-4 py-1 text-sm text-purple-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2"
      >
        Message
      </button>
    </div>
  </div>
</div>

<hr class="border-1 border-gray-500 my-4" />
